.venv
.idea
vars
cleo/__pycache__
locations/__pycache__
locations/models/__pycache__/
locations/admin/__pycache__/
locations/tests/__pycache__/
locations/migrations/__pycache__/
locations/views/__pycache__/
profiles/__pycache__/
profiles/models/__pycache__/
profiles/admin/__pycache__/
profiles/tests/__pycache__/
profiles/migrations/__pycache__/
profiles/views/__pycache__/
activities/__pycache__/
activities/models/__pycache__/
activities/admin/__pycache__/
activities/tests/__pycache__/
activities/migrations/__pycache__/
activities/views/__pycache__/