.venv
.idea
vars
cleo/__pycache__
locations/__pycache__
locations/*/__pycache__/
profiles/__pycache__/
profiles/*/__pycache__/
activities/__pycache__/
activities/*/__pycache__/
locations/migrations
profiles/migrations
locations/migrations

