{% extends 'base.html' %}
{% block title %}
Personas
{% endblock %}
{% block content %}
    <h2>Lista de Personas</h2>
    {% if people %}
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo de Documento de identidad</th>
            <th>Documento de identidad</th>
        </tr>
        </thead>
        <tbody>
        {% for person in people %}
        <tr>
            <td><a href="{% url 'view_p' person.id%}">
                {{person.name}}</a></td>
            <td>{{person.document_type}}</td>
            <td>{{person.document_code}}</td>
        </tr>
            {%  endfor%}
        </tbody>
            {%  else %}
            <h3>No se han registrado personas</h3>

        {% endif %}
    </table>
{% endblock %}