{% extends 'base.html' %}
{% block title %}
Proveedores
{% endblock %}
{% block content %}
    <h2>Lista de Proveedores</h2>
    {% if providers %}
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo electrónico</th>
        </tr>
        </thead>
        <tbody>
        {% for provider in providers %}
        <tr>
            <td><a href="{% url 'view_po' provider.id%}">
        {{provider.personal_data.name}}</a></td>
            <td>{{provider.email}}</td>
        </tr>
            {%  endfor  %}
        </tbody>
            {%  else %}
            <h3>No se han registrado proveedores</h3>

        {% endif %}
     </table>
    <br>
    <a href="{% url 'registration_po' %}">Nuevo proveedor</a>
{% endblock %}

