{% extends 'base.html' %}
{% block title %}
Registro de proveedor
{% endblock %}
{% block content %}
    <h2>Registro de proveedor</h2>

    <form action="{% url 'register_po' %}" method="post">
    {% csrf_token %}

    <h3>Datos Personales</h3>
    <table>{{personal_form}}</table>
    <h3>Datos de residencia</h3>
    <table>{{address_form}}</table>
    <h3>Datos Bancarios</h3>
    <table>{{bank_form}}</table>

    <input type="submit" value="Enviar">
    <a href="{% url 'list_provider' %}">Volver</a>
    </form>
{% endblock %}

