{% extends 'base.html' %}
{% block title %}
Ver proveedor
{% endblock %}
{% block content %}
    <h3>Datos personales</h3>
    <table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>C.I.</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{provider.personal_data.name}}</td>
        <td>{{provider.personal_data.document_code}}</td>
        <td>{{provider.email}}</td>
    </tr>
    </tbody>
    </table>
    <h3>Datos bancarios</h3>
    <table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Banco</th>
            <th>Numero de cuenta</th>
            <th> Ci asociada</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{provider.bank_account.name}}</td>
        <td>{{provider.bank_account.bank}}</td>
        <td>{{provider.bank_account.account_number}}</td>
        <td>{{provider.bank_account.document_code}}</td>
    </tr>
    </tbody>
    </table>
    {% if receipts %}
    <h3>Últimos recibos</h3>
    <table>
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Monto total</th>
        </th>
        </thead>
        <tbody>
        {% for receipt in receipts %}
        <tr>
            <td>
                <a href="{% url 'view_ri' receipt.id %}">{{ receipt.date }}</a>
            </td>
            <td>
                {{ receipt.total_amount }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}