<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de recibos</title>
</head>
<body>
    <h1>Lista de Recibos</h1>
    {% if interviews %}
    <table>
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Proveedor</th>
            <th>Tipo de material</th>
            <th>Kg de material</th>
        </tr>
        {% for receiptitem in receipt_item %}
        <tr>
            <td>{{receiptitem.date}}</td>
            <td>{{receiptitem.observations}}</td>
        </tr>
            {%  endfor %}
        </thead>
            {%  else %}
            <h3>No se ha registrado ningún recibo</h3>

        {% endif %}
</body>
</html>



