{% extends 'base.html' %}
{% block title %}
Abordados
{% endblock %}
{% block content %}
<body>
    <h2>Lista de Abordados</h2>
    {% if interviews %}
    <table>
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Observaciones</th>
        {% for interview in interviews %}
        <tr>
            <td>{{interview.date}}</td>
            <td><a href="{% url 'view_i' interview.id %}" >
                {{interview.person.name}}</a></td>
            <td>{{interview.observations}}</td>
        </tr>
            {%  endfor  %}
            {%  else %}
            <h3>No se ha registrado ningún abordaje</h3>

        {% endif %}
    </table>
{% endblock %}