{% extends 'base.html' %}
{% block title %}
Recibos
{% endblock %}
{% block content %}
    <h2>Lista de Recibos</h2>
    {% if receipts %}
        <table>
            <thead>
            <tr>
                <th>Número</th>
                <th>Fecha</th>
                <th>Proveedor</th>
            </tr>
            {% for receipt in receipts %}
                <tr>
                    <td><a href="{% url 'view_ri' receipt.id %}">{{receipt.id}}</a></td>
                    <td>{{receipt.date}}</td>
                    <td>{{receipt.provider.personal_data.name}}</td>
                </tr>
            {%  endfor %}
        </thead>x
    {%  else %}
    <h3>No se ha registrado ningún recibo</h3>

        {% endif %}
{% endblock %}